/**
 * C L E A R F I X
 */

%clearfix-pseudo{
	content: "";
	display: table;
	clear: both;
}

%clearfix{
	zoom: 1;
	&:after,&:before{
		@extend %clearfix-pseudo;
	}
}

%clearfix-after{
	zoom: 1;
	&:after{
		@extend %clearfix-pseudo;
	}
}

%clearfix-before{
	zoom: 1;
	&:before{
		@extend %clearfix-pseudo;
	}
}


@mixin clearfix($pseudo : ('after', 'before')) {
	zoom: 1;
	
	$selector: ();

	@each $item in $pseudo {
		
		@if 'after' == $item or 'before == pseudo' {
			$item : '&:' + $item;
		}

		$selector: append($selector, unquote('#{$item}'), 'comma');
	}

	#{$selector}{
		content : "#{$selector} ok";
		display : table;
		clear   : both;
	}

}

/**
 * T R I A N G L E
 */
@mixin arrow-up($color, $size, $size2 : 0) {
	@if 0 == $size2 {
		$size2:$size;
	}

	width         : 0; 
	height        : 0; 
	
	border-left   : $size solid transparent;
	border-right  : $size solid transparent;
	
	border-bottom : $size2 solid $color;
	border-top    : 0;
}

@mixin arrow-down($color, $size, $size2 : 0) {
	@if 0 == $size2 {
		$size2:$size;
	}

	width         : 0; 
	height        : 0; 
	
	border-left   : $size solid transparent;
	border-right  : $size solid transparent;
	
	border-top    : $size2 solid $color;
	border-bottom : 0;
}

@mixin arrow-right($color, $size, $size2 : 0) {
	@if 0 == $size2 {
		$size2:$size;
	}

	width         : 0; 
	height        : 0; 
	
	border-top    : $size solid transparent;
	border-bottom : $size solid transparent;
	
	border-left   : $size2 solid $color;
	border-right  : 0;
}

@mixin arrow-left($color, $size, $size2 : 0) {
	@if 0 == $size2 {
		$size2:$size;
	}

	width         : 0; 
	height        : 0; 
	border-top    : $size solid transparent;
	border-bottom : $size solid transparent; 
	
	border-right  : $size2 solid $color;
	border-left   : 0;
}

/**
 * I M A G E F I X
 */
%imagefix{
	display   : block;
	max-width : 100%;
	height    : auto;
}

@mixin imagefix(){
	display   : block;
	max-width : 100%;
	height    : auto;
}

/**
 * H I D E
 */

%hidden {
	margin   : -1px;
	padding  : 0;
	width    : 1px;
	height   : 1px;
	overflow : hidden;
	clip     : rect(0 0 0 0);
	clip     : rect(0, 0, 0, 0);
	position : absolute;
}

@mixin hidden() {
	margin   : -1px;
	padding  : 0;
	width    : 1px;
	height   : 1px;
	overflow : hidden;
	clip     : rect(0 0 0 0);
	clip     : rect(0, 0, 0, 0);
	position : absolute;
}

/**
 * Typography
 */

$root-font-size      : 10px !default;
$root-line-height-px : 18px !default;

@mixin font-start-html(){
	html{
		font-size   : $root-font-size;
		line-height : $root-line-height-px / $root-font-size; 
	}
}

@mixin font-size( $font-size: $root-font-size, $line-height-px : $root-line-height-px, $margin : 1, $top : 1, $bottom : 1 ){
	
	$line-height-px	: ceil($font-size / 1.2 / $line-height-px) * $line-height-px;
	$line-height    : $line-height-px / $font-size;
	
	font-size      : $font-size;
	font-size      : $font-size / $root-font-size * 1rem;
	line-height    : $line-height;

	@include font-size-margin($font-size, $line-height-px, $margin, $top, $bottom);
}

@mixin font-size-margin( $font-size: $root-font-size, $line-height-px : $root-line-height-px, $margin : 1, $top : 1, $bottom : 1 ){
	$line-height-px	: ceil($font-size / 1.2 / $line-height-px) * $line-height-px;
	$line-height    : $line-height-px / $font-size;

	@if 0 != $margin {
		$boxSpacing : if( 1 == $margin, 'margin', 'padding' );
		
		@if 1 == $top{
			#{$boxSpacing}-top     : $line-height-px / $root-font-size / 2 * .5rem;
		} @else if 0 == $top {
			#{$boxSpacing}-top     : 0;
		}
		
		@if 1 == $bottom{
			#{$boxSpacing}-bottom  : $line-height-px / $root-font-size / 2 * 1.5rem;
		} @else if 0 == $bottom {
			#{$boxSpacing}-bottom  : 0;
		}
	}
}

/**
 * Altro
 */

// #cookieChoiceInfo{
// 	box-shadow: inset 0 1px 0 #ccc, 0 0 3px #ccc;
// }